// Some classes for basic styling
.right {
  text-align: right;
}

.center {
  text-align: center;
}

.marg-t {
  margin-top: 1em;
}

.marg-b {
  margin-bottom: 1em;
}

.normal {
  font-weight: normal;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: var(--shadow);
}
