{% extends "layout.html" %} {% block pageTitle %} Administration Painel {%
endblock %} {% block content %} {% with messages = get_flashed_messages() %} {%
if messages %} {% for message in messages %}
<h4 class="center">{{ message }}</h4>
{% endfor %} {% endif %} {% endwith %}

<table class="styled-table">
  <thead>
    <td>School</td>
    <td>Contats</td>
    <td colspan="2"></td>
  </thead>
  <tbody>
    {% for school in schools %}
    <tr>
      <td>
        <h4>{{ school['name'] }}</h4>
        <p>{{ school['city'] }} - {{ school['state'] }}</p>
      </td>
      <td>
        <a href="mailto:{{ school['email'] }}">{{ school['email'] }}</a>
        <p>{{ school['phone'] }}</p>
      </td>
      <td colspan="2">
        <a href="/admin/update/{{ school['id'] }}">Modify</a>
        <a href="/admin/remove/{{ school['id'] }}">Remove</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock%}
