{% extends "layout.html" %} {% block content %}

<h2>Administration Painel</h2>

<a href="/admin/add">Add school</a>

<table border="1">
  <thead>
    <td>name</td>
    <td>address</td>
    <td>phone</td>
    <td>email</td>
    <td>items_collected</td>
    <td>latitude</td>
    <td>longitude</td>
    <td>photo</td>
    <td>photo_profile</td>
  </thead>
  {% for row in rows %}
  <tr>
    <td>{{ row['name'] }}</td>
    <td>{{ row['address'] }}</td>
    <td>{{ row['phone'] }}</td>
    <td>{{ row['email'] }}</td>
    <td>{{ row['items_collected'] }}</td>
    <td>{{ row['latitude'] }}</td>
    <td>{{ row['longitude'] }}</td>
    <td>{{ row['photo'] }}</td>
    <td>{{ row['photo_profile'] }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock%}
