{% extends "layout.html" %} {% block link %}
<link
  rel="stylesheet"
  href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"
/>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
{% endblock %} {% block pageTitle %} Update school informations {% endblock %}
{%block content%}
<div id="scroll">
  <form
    class="styled-form"
    action="/admin/add"
    method="POST"
    enctype="multipart/form-data"
  >
    <fieldset>
      <legend>Informations about the school.</legend>
      <div class="columns">
        <input name="name" id="name" type="text" placeholder="School name" />

        <input name="email" id="email" type="text" placeholder="Email" />
      </div>
      <div class="columns marg-t">
        <input name="phone" id="phone" type="text" placeholder="Phone" />
        <input
          name="password"
          id="password"
          type="password"
          placeholder="Password"
        />
      </div>
      <div>
        <input name="file" id="photo" type="file" placeholder="Photo" />
      </div>
    </fieldset>

    <fieldset>
      <div class="columns marg-b">
        <input
          name="address"
          id="address"
          type="text"
          placeholder="Full address"
        />
      </div>
      <div class="columns marg-b">
        <input name="city" id="city" type="text" placeholder="City" />
        <input name="state" id="state" type="text" placeholder="State" />
        <input name="country" id="country" type="text" placeholder="Country" />
      </div>
      <div class="location">
        <h4 class="center">Set school location on map</h4>
        <div id="search">
          <input type="hidden" name="latitude" value="" id="lat" size="12" />
          <input type="hidden" name="longitude" value="" id="lon" size="12" />
          <div id="map"></div>
          <h4 class="center marg-t" id="message"></h4>
          <button
            type="button"
            onclick="city_search();"
            class="button outline center find-city"
          >
            Find your city
          </button>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Choose which items this school accepts.</legend>
      <div class="checkboxes">
        <div class="chb">
          <input type="checkbox" id="smartphone" name="items" value="1" />
          <label class="checkbox-label" for="smartphone">Smartphone</label>
        </div>
        <div class="chb">
          <input type="checkbox" id="desktop" name="items" value="2" />
          <label class="checkbox-label" for="desktop">Desktop Computer</label>
        </div>
        <div class="chb">
          <input type="checkbox" id="laptop" name="items" value="3" />
          <label class="checkbox-label" for="laptop">Laptop</label>
        </div>
        <div class="chb">
          <input type="checkbox" id="monitor" name="items" value="6" />
          <label class="checkbox-label" for="monitor">Monitor</label>
        </div>
        <div class="chb">
          <input type="checkbox" id="printer" name="items" value="4" />
          <label class="checkbox-label" for="printer">Printer</label>
        </div>
        <div class="chb">
          <input type="checkbox" id="cable" name="items" value="5" />
          <label class="checkbox-label" for="cable">Cable</label>
        </div>
      </div>
    </fieldset>

    <input type="submit" value="Add" />
  </form>
</div>
{% endblock %} {% block javascript %}
<script type="text/javascript">
  // São Paulo, Brazil
  var startlat = -23.5558559;
  var startlon = -46.6625292;

  document.getElementById('lat').value = startlat;
  document.getElementById('lon').value = startlon;

  var options = {
    center: [startlat, startlon],
    zoom: 10,
  };

  var map = L.map('map', options);
  var nzoom = 12;

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution:
      '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);

  var myMarker = L.marker([startlat, startlon], {
    title: 'School coordinates',
    alt: 'School coordinates',
    draggable: true,
  }).addTo(map);

  // Fetch city lat, long and update the map
  function city_search() {
    // Get the City and the state from form
    var city = document.getElementById('city').value;
    var state = document.getElementById('state').value;
    var country = document.getElementById('country').value;
    var inp = `${city}, ${state}, ${country}`;
    // Send the query to the openstreetmap API
    var xmlhttp = new XMLHttpRequest();
    var url =
      'https://nominatim.openstreetmap.org/search?format=json&limit=1&q=' + inp;
    xmlhttp.onreadystatechange = function () {
      // If has a result, update the map
      if (this.readyState == 4 && this.status == 200) {
        // Save the response
        var arr = JSON.parse(this.responseText);
        // Check if has a result
        if (arr.length > 0) {
          // Save city object
          var city = arr[0];
          myMarker.closePopup();
          // Update the map positison
          map.setView([city.lat, city.lon], 10);
          // Update the marker position
          myMarker.setLatLng([city.lat, city.lon]);
          // Update the hidden form fields
          document.getElementById('lat').value = city.lat;
          document.getElementById('lon').value = city.lon;
        } else {
          document.getElementById('message').innerHTML = 'City not found.';
        }
      }
    };
    xmlhttp.open('GET', url, true);
    xmlhttp.send();
  }
</script>
{% endblock %}
