{% extends "layout.html" %} {% block pageTitle %} Welcome! {% endblock %} {%
block content %}
<div id="home">
  <div class="welcome-text">
    <p class="text">
      Do you know that old gadgets picking up dust can be useful by schools to
      teach math, electronics and programming?
    </p>
    <p class="text">
      Donate old phones or computers, and help schools create a lab that can
      change the life of many students.
    </p>
  </div>
  <div class="buttons">
    <a href="/login" class="button solid">Login</a>
    <a href="/register" class="button outline">Register</a>
  </div>
</div>
{% endblock %}
