<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Reclyce for Education</title>
    {% block link %} {% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <header>
        <a href="/" class="full-brand">
          <h1 class="brand">TechRecycle</h1>
          <span>for education</span>
        </a>
        <nav>
          <ul>
            {% if session['userId'] and session['isAdmin'] == undefined %}
            <li><a href="/schools">Schools</a></li>
            <li><a href="/rank">Global Rank</a></li>
            <li><a href="/user_page">Donation History</a></li>
            <li><a href="/logout">Logout</a></li>
            {% endif %}
          </ul>
        </nav>
        <h2 class="page-title">{% block pageTitle %} {% endblock %}</h2>
      </header>
      <main>{% block content %} {% endblock %}</main>
    </div>
    {% block javascript %} {% endblock %}
  </body>
</html>
