{% extends "layout.html" %} {% block pageTitle %} Change your password {%
endblock %} {% block content %}
<div id="login">
  {% with messages = get_flashed_messages() %} {% if messages %} {% for message
  in messages %}
  <h4 class="center">{{ message }}</h4>
  {% endfor %} {% endif %} {% endwith %}
  <form action="/password" method="POST">
    <h4 id="alert" class="center"></h4>
    <input
      name="newPassword"
      id="newPassword"
      type="password"
      placeholder="New password"
      required
    />

    <input
      name="checkPassword"
      id="checkPassword"
      type="password"
      placeholder="Re-type the new password"
      required
    />

    <input
      type="submit"
      id="submit"
      value="Change"
      class="button solid"
      disabled
    />
  </form>
</div>
<script>
  let checkPassword = document.querySelector('#checkPassword');

  checkPassword.addEventListener('input', checkPass);

  function checkPass() {
    let password = document.querySelector('#newPassword').value;
    let alert = document.querySelector('#alert');
    let button = document.querySelector('#submit');

    if (password == checkPassword.value) {
      button.disabled = false;
      alert.innerHTML = '';
    } else {
      button.disabled = true;
      alert.innerHTML = 'The passwords must be the same!';
    }
  }
</script>

{% endblock %}
