{% extends "layout.html" %} {% block pageTitle %} Global Rank! {% endblock %} {%
block content %}

<div id="scroll">
  <table class="styled-table">
    <thead>
      <td>Rank</td>
      <td>Name</td>
      <td>Total score</td>
    </thead>
    <tbody>
      {% for r in rank %}
      <tr class="{{'active' if session['userId'] == r['id'] }}">
        <!-- Print the index of the loop, in this case it matches with the rank position -->
        <td>{{ loop.index }}</td>
        <td>{{ r['name'] }}</td>
        <td>{{ r['score'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h3 class="center">Remember to delivery the donations to the school!</h3>
  <h4 class="center normal marg-t">Only received donations give you points</h4>
</div>

{% endblock%}
