{% extends "layout.html" %} {% block headerLinks %}
<li><a href="/user_page">Donation History</a></li>
<li><a href="/rank">Global Rank</a></li>
<li><a href="/schools">Schools</a></li>
{% endblock %} {% block content %}
<h2>{{ school['name'] }}</h2>

<img
  src="{{ url_for('static', filename = 'uploads/' + school['photo']) }}"
  alt="Profile picture of the {{ school['name'] }}."
  width="250px"
/>

<ul>
  <li class="address">
    {{ school['address'] }} - {{ school['city'] }} - {{ school['state'] }} - {{
    school['country'] }}
  </li>
  <li class="phone">{{ school['phone'] }}</li>
  <li class="email">{{ school['email'] }}</li>
</ul>

<form action="/donate/{{ school['id'] }}" method="POST">
  <ul>
    {% for item in items %}
    <li>
      <input
        type="checkbox"
        id="check-{{ item['name'] }}"
        name="items"
        value="{{item['item_id']}}"
      />
      <label for="check-{{ item['name'] }}">
        <img
          src="{{ item['icon'] }}"
          alt="icon for {{ item['description'] }}"
        />
        {{ item['name'] }}
      </label>
    </li>
    {% endfor%}
  </ul>
  <input type="submit" value="Make a donation" />
</form>
{% endblock %}

<!-- Checkbox ideia: https://codepen.io/echosoft/pen/RaVEvG -->
<!-- <div class="tooltip">{{ item['description'] }}</div> -->
