{% extends "layout.html" %} {% block pageTitle %} Donations {% endblock %} {%
block content %} {% if not donations %}
<h2 class="center marg-t">No donations yet!</h2>
{% else %}
<h2 class="center marg-t">{{ donations[0]['school'] }}</h2>

<table class="styled-table">
  <thead>
    <td>Donator name</td>
    <td>Donated item</td>
    <td>Amount</td>
    <td colspan="2">Status</td>
  </thead>
  {% for donation in donations %} {% if donation['received'] == 0 %}
  <tr>
    <td>{{ donation['user'] }}</td>
    <td>{{ donation['item'] }}</td>
    <td>{{ donation['amount'] }}</td>
    <td>Not received</td>
    <td><a href="/school_page?id={{ donation['id'] }}">Arrived</a></td>
  </tr>
  {% endif %} {% endfor %}
</table>

<h2 class="center marg-t">Donations History</h2>

<table class="styled-table">
  <thead>
    <td>Donator name</td>
    <td>Donated item</td>
    <td>Amount</td>
  </thead>
  {% for donation in donations %} {% if donation['received'] == 1 %}
  <tr>
    <td>{{ donation['user'] }}</td>
    <td>{{ donation['item'] }}</td>
    <td>{{ donation['amount'] }}</td>
  </tr>
  {% endif %} {% endfor %}
</table>
{% endif %} {% endblock%}
