{% extends "layout.html" %} {% block pageTitle %} Donations History {% endblock
%} {% block content %}
<div id="scroll">
  <table class="styled-table">
    <thead>
      <td>School name</td>
      <td>Donated item</td>
      <td>Amount</td>
      <td>Status</td>
      <td>Item score</td>
    </thead>
    <tbody>
      {% for donation in donations %}
      <tr>
        <td>{{ donation['school'] }}</td>
        <td>{{ donation['item'] }}</td>
        <td>{{ donation['amount'] }}</td>
        <td>
          {% if donation['received'] == 0 %} No {% else %} Received {% endif %}
        </td>
        <td>{{ donation['scores'] * donation['amount'] |int }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock%}
